@using Parents_Bank.Models
@model Parents_Bank.Models.Transaction

@{
    ViewBag.Title = "NoAccess";
}

<h2 class="text-danger">You do not have permission to Create or Delete a Transaction</h2>
<div>
    @Html.ActionLink("Back", "RedirectDetails", new {id = ViewBag.accId})
</div>

